<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Home</title>
</head>
<body>
    <h1>Home page!</h1>
    <form action="/next" method="post">
        <label for="user1">Input User Name:</label>
        <input type="text" name="username" id="user1">

        <label for="password1">Input Password:</label>
        <input type="password" name="password" id="password1">

        <label for="firstname1">Input First Name:</label>
        <input type="text" name="firstname" id="firstname1">

        <label for="lastname1">Input Last Name:</label>
        <input type="text" name="lastname" id="lastname1">

        <label for="email1">Input Email:</label>
        <input type="email" name="email" id="email1">

        <input type="submit">
    </form>
</body>
</html>