<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Home</title>
</head>
<body>
    <h1>The Lonely Steed</h1>
    <a href="http://localhost:8080/aboutme/">Link to about me page</a>
    <br>
    <a href="http://localhost:8080/posts/">Link to my previous posts</a>
    <br>
    <a href="http://localhost:8080/createpost/">Link to create a new post</a>
</body>
</html>