<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Info</title>
</head>
<body>
<h1>Your information is retrieved!</h1>
<h2>Here is your User Information</h2>
<p>
    {{ .Username }}
    {{ .Password }}
    {{ .Firstname }}
    {{ .Lastname }}
    {{ .Email }}
</p>
</body>
</html>