<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Info</title>
</head>
<body>
<h1>Posts</h1>
<h2>Here you can find all my past work</h2>
{{range .}}
<a href="http://localhost:8080/posts/{{.Url}}/">Title: {{.Title}} Date: {{.Date}} Summary: {{.Summary}}</a>
<br>
{{end}}
</body>
</html>