<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Info</title>
</head>
<body>
<h1>Posts</h1>
<h2>Here you can find all my past work</h2>
<p> Title: {{.Title}} Date: {{.Date}} Summary: {{.Summary}}</p>
<br>
<a href="http://localhost:8080/post/">Link to post</a>
</body>
</html>